<h1>EDIT PAGE BAYBAY</h1>
<h1>Editting Article:<%= @article.title %></h1>
<% if @article.errors.any? %>
  <h2>The Following errors prevented the article from being updated</h2>
  <% @article.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>  
    </li>
  <% end %>
<% end %>
<%= form_with(model: @article, local:true) do |f|%>
<%# <%= form_with scope: :article, url: article_path(@article.id), method: :patch, local: true do |f| USING MODEL INFERS THE URL and METHOD based on RESOURCES in ROUTES.rb %>
  <p>
    <%= f.label :title%><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description%><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Cancel and return to article index', articles_path %>
<% end %>