<h1>Articles Listing Page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td class=actiontab>
        <%= button_to "Show Article", article_path(article.id), method: :get %>
        <%= button_to "Delete Article", article_path(article.id), method: :delete, data: {confirm: "Are you sure?"}%>
        <%= button_to "Edit Article", edit_article_path(article.id), method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to new_article_path, :action => 'go' do %>
    <h1 class='linkbox'>Create New Article</h1>
  <% end %>
</div>
